body {
  font-family: 'Roboto Mono', monospace;
  font-size: 21px;
  color: white;
  background-color: #141414;

  /*Alignment*/
  padding-top: 20%;
  align-items: center;
  display: flex;
  justify-content: center;

  /*Transition*/
  animation: change-background 20s infinite;
}

@keyframes change-background {
  0% {
    color: white;
    background-color: #141414;
  }
  25% {
    color: white;
    background-color: #4b2e83;
  }
  50% {
    color: black;
    background-color: #b7a57a;
  }
  100% {
    color: white;
    background-color: #141414;
  }
}