body {
  /*Text info*/
  font-family: "Roboto Mono", monospace;
  font-size: 21px;
  color: white;

  background: linear-gradient(-90deg, #84bd00, #fa57c1);
  background-size: 300% 300%;
  background-position: right top;
  background-attachment: fixed;

  /*Alignment*/
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 20px;

  /*Transition*/
  animation: Gradient 10s ease infinite;
}

#body-text {
  overflow-y: scroll;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  margin-right: 20px;
  text-decoration: none;
  border-bottom: solid 0.01rem;
  color: white;
}

a:hover {
  border-bottom: solid 0.2rem;
}
